<h1 align=center><font size = 5>ASSOCIATION RULES</font></h1>

**Association Rule Learning** is a data mining techniques to find associative rules between a combination of items.<br>
<br>
First step in this collaborative filtering is same like others case to Import library that is needed for analyzing and processing the data.

In [0]:
import numpy as np
import pandas as pd

from mlxtend.preprocessing import OnehotTransactions
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

### Data Description

There was a data about market basket from Astra Data Scientist Bootcamp Participant. We need to make the best market basket that can be used to give a recommendation to a new customer. So they can buy a product more than one with a good combination.

In [40]:
data = pd.read_csv("Untitled form.csv")
data

                      Timestamp                 Name  ...  Item 2     Item 3
0   2019/09/17 8:58:22 AM GMT+7  Firdaus Adi Nugroho  ...  Racket      Watch
1   2019/09/17 8:58:24 AM GMT+7               faizah  ...  Camera      Watch
2   2019/09/17 8:58:30 AM GMT+7               andrem  ...  Camera  Music Pad
3   2019/09/17 8:58:30 AM GMT+7                laili  ...   Watch      Mouse
4   2019/09/17 8:58:33 AM GMT+7                 Tara  ...   Watch  Music Pad
5   2019/09/17 8:58:36 AM GMT+7               Devita  ...  Racket     Camera
6   2019/09/17 8:58:36 AM GMT+7                 febi  ...  Camera      Watch
7   2019/09/17 8:58:36 AM GMT+7                 rima  ...  Camera  Music Pad
8   2019/09/17 8:58:43 AM GMT+7                  FdN  ...    Soap     Guitar
9   2019/09/17 8:58:44 AM GMT+7              tunggal  ...  Camera     Guitar
10  2019/09/17 8:58:52 AM GMT+7               Afifah  ...     Bag        NaN
11  2019/09/17 8:58:57 AM GMT+7                bunga  ...  Guitar     Camera
12  2019/09/17 8:59:05 AM GMT+7                Laras  ...   Watch        NaN
13  2019/09/17 8:59:13 AM GMT+7    Topik Teman Firli  ...  Camera  Music Pad
14  2019/09/17 8:59:14 AM GMT+7                Ilham  ...   Watch  Music Pad
15  2019/09/17 8:59:19 AM GMT+7                Hania  ...  Racket     Guitar
16  2019/09/17 8:59:21 AM GMT+7    Damar Teman Firli  ...  Camera      Watch
17  2019/09/17 8:59:29 AM GMT+7          Putrisqiana  ...   Watch        NaN
18  2019/09/17 8:59:30 AM GMT+7                Zumar  ...   Watch        NaN
19  2019/09/17 8:59:37 AM GMT+7                 xxnx  ...     Bag     Guitar
20  2019/09/17 8:59:39 AM GMT+7                bakul  ...     Bag        NaN
21  2019/09/17 8:59:42 AM GMT+7      Agrawal Srikant  ...  Racket       Soap
22  2019/09/17 8:59:47 AM GMT+7                  jul  ...    Soap      Watch
23  2019/09/17 9:00:17 AM GMT+7            Andi Isra  ...  Camera       Soap

[24 rows x 5 columns]

In [38]:
data.shape

(24, 5)

There was 24 participant who fill the data and they choose 3 items in the ecommerce like Bag, Camera, Guitar, HP, Mouse, Music Pad, Racket, Router, Soap, Watch.

### Data Normalization
We need to drop timestamp and Name of the participant because we only need the item to make a market basket.

In [41]:
data['type'] = data[['Item 1','Item 2', 'Item 3']].values.tolist()
data['type']

0             [HP, Racket, Watch]
1             [HP, Camera, Watch]
2      [Watch, Camera, Music Pad]
3          [Camera, Watch, Mouse]
4          [HP, Watch, Music Pad]
5         [Watch, Racket, Camera]
6             [HP, Camera, Watch]
7      [Watch, Camera, Music Pad]
8          [Racket, Soap, Guitar]
9        [Racket, Camera, Guitar]
10             [Camera, Bag, nan]
11    [Music Pad, Guitar, Camera]
12           [Camera, Watch, nan]
13    [Guitar, Camera, Music Pad]
14     [Camera, Watch, Music Pad]
15       [Camera, Racket, Guitar]
16        [Guitar, Camera, Watch]
17           [Guitar, Watch, nan]
18           [Camera, Watch, nan]
19            [Soap, Bag, Guitar]
20             [Router, Bag, nan]
21          [Watch, Racket, Soap]
22       [Music Pad, Soap, Watch]
23          [Mouse, Camera, Soap]
Name: type, dtype: object

After choosing the items for dataframe, we need to make the records of the data become array that can be process for association with apriori algorithm.

In [0]:
datakelas = [['HP', 'Racket', 'Watch'],
             ['HP', 'Camera', 'Watch'],
             ['Watch', 'Camera', 'Music Pad'],
             ['Camera', 'Watch', 'Mouse'],
             ['HP', 'Watch', 'Music Pad'],
             ['Watch', 'Racket', 'Camera'],
             ['HP', 'Camera', 'Watch'],
             ['Watch', 'Camera', 'Music Pad'],
             ['Racket', 'Soap', 'Guitar'],
             ['Racket', 'Camera', 'Guitar'],
             ['Camera', 'Bag'],
             ['Music Pad', 'Guitar', 'Camera'],
             ['Camera', 'Watch'],
             ['Guitar', 'Camera', 'Music Pad'],
             ['Camera', 'Watch', 'Music Pad'],
             ['Camera', 'Racket', 'Guitar'],
             ['Guitar', 'Camera', 'Watch'],
             ['Guitar', 'Watch'],
             ['Camera', 'Watch'],
             ['Soap', 'Bag', 'Guitar'],
             ['Router', 'Bag'],
             ['Watch', 'Racket', 'Soap'],
             ['Music Pad', 'Soap', 'Watch'],
             ['Mouse', 'Camera', 'Soap']]

### Association Rules

The modeling is 'Association Rules Learning with Apriori Algorithm'.
<br>
**Apriori algorithm** is a process used to find frequent-itemset by doing iteration on dataset. Frequent-itemset is an indication of itemset that has a frequency of occurrence more than the minimum value that has been determined.

In [43]:
oht = OnehotTransactions()
oht_array = oht.fit(datakelas).transform(datakelas)
datafix = pd.DataFrame(oht_array, columns=oht.columns_)
datafix

/usr/local/lib/python3.6/dist-packages/mlxtend/preprocessing/onehot.py:66: DeprecationWarning: OnehotTransactions has been deprecated and will be removed in future. Please use TransactionEncoder instead.
  warnings.warn(msg, DeprecationWarning)

      Bag  Camera  Guitar     HP  ...  Racket  Router   Soap  Watch
0   False   False   False   True  ...    True   False  False   True
1   False    True   False   True  ...   False   False  False   True
2   False    True   False  False  ...   False   False  False   True
3   False    True   False  False  ...   False   False  False   True
4   False   False   False   True  ...   False   False  False   True
5   False    True   False  False  ...    True   False  False   True
6   False    True   False   True  ...   False   False  False   True
7   False    True   False  False  ...   False   False  False   True
8   False   False    True  False  ...    True   False   True  False
9   False    True    True  False  ...    True   False  False  False
10   True    True   False  False  ...   False   False  False  False
11  False    True    True  False  ...   False   False  False  False
12  False    True   False  False  ...   False   False  False   True
13  False    True    True  False  ...   False   False  False  False
14  False    True   False  False  ...   False   False  False   True
15  False    True    True  False  ...    True   False  False  False
16  False    True    True  False  ...   False   False  False   True
17  False   False    True  False  ...   False   False  False   True
18  False    True   False  False  ...   False   False  False   True
19   True   False    True  False  ...   False   False   True  False
20   True   False   False  False  ...   False    True  False  False
21  False   False   False  False  ...    True   False   True   True
22  False   False   False  False  ...   False   False   True   True
23  False    True   False  False  ...   False   False   True  False

[24 rows x 10 columns]

By the data above, we know that what is an items that customer buy or not. We need it to make an association rules.

Association Rule Learning is data mining techniques to find associative rules between a combination of items. 

* **Support** from an association rule is the presentation of combinations of items in a database. 
* **Confidence** of an association rule is a measure of the accuracy of a rule that can be used to measure the strength of the relationships between items in the association rule.
* **Lift** ratio is a measure to determine the strength of the association rule that has been formed and can be useful for predicting the consequent in future data sets.

#### Market Basket Based on Support

In [44]:
frequent_itemsets = apriori(datafix, min_support=0.05, use_colnames=True)
print(frequent_itemsets)

     support                     itemsets
0   0.125000                        (Bag)
1   0.666667                     (Camera)
2   0.333333                     (Guitar)
3   0.166667                         (HP)
4   0.083333                      (Mouse)
5   0.291667                  (Music Pad)
6   0.250000                     (Racket)
7   0.208333                       (Soap)
8   0.625000                      (Watch)
9   0.208333             (Guitar, Camera)
10  0.083333                 (Camera, HP)
11  0.083333              (Camera, Mouse)
12  0.208333          (Camera, Music Pad)
13  0.125000             (Racket, Camera)
14  0.416667              (Camera, Watch)
15  0.083333          (Guitar, Music Pad)
16  0.125000             (Guitar, Racket)
17  0.083333               (Guitar, Soap)
18  0.083333              (Guitar, Watch)
19  0.166667                  (Watch, HP)
20  0.208333           (Watch, Music Pad)
21  0.083333               (Racket, Soap)
22  0.125000              (Racket, Watch)
23  0.083333                (Soap, Watch)
24  0.083333  (Guitar, Camera, Music Pad)
25  0.083333     (Guitar, Camera, Racket)
26  0.083333          (Camera, Watch, HP)
27  0.125000   (Camera, Music Pad, Watch)

By the minimum support, the most wanted items in dataset is Camera, watch and guitar with the highest support. It means that the Astra Data Scientis Bootcamp participant is like to buy **Camera, Watch and Guitar**

The **market basket for two items** with the highest support is
* camera and watch
* guitar and camera
* camera and music pad <br>
It means that customer who **buy camera is likely to buy watch, guitar and music pad.**

The **market basket for three items** with the highest support is 
* Guitar, Camera and Music
* Guitar, Camera and Racket
* Camera, Watch and HP

#### Market Basket Based on Confidence

In [55]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules

            antecedents      consequents  ...      leverage  conviction
0              (Guitar)         (Camera)  ... -1.388889e-02    0.888889
1                  (HP)         (Camera)  ... -2.777778e-02    0.666667
2               (Mouse)         (Camera)  ...  2.777778e-02         inf
3           (Music Pad)         (Camera)  ...  1.388889e-02    1.166667
4              (Racket)         (Camera)  ... -4.166667e-02    0.666667
5              (Camera)          (Watch)  ...  5.551115e-17    1.000000
6               (Watch)         (Camera)  ...  5.551115e-17    1.000000
7              (Racket)         (Guitar)  ...  4.166667e-02    1.333333
8                  (HP)          (Watch)  ...  6.250000e-02         inf
9           (Music Pad)          (Watch)  ...  2.604167e-02    1.312500
10             (Racket)          (Watch)  ... -3.125000e-02    0.750000
11  (Guitar, Music Pad)         (Camera)  ...  2.777778e-02         inf
12     (Guitar, Racket)         (Camera)  ...  0.000000e+00    1.000000
13     (Racket, Camera)         (Guitar)  ...  4.166667e-02    2.000000
14         (Camera, HP)          (Watch)  ...  3.125000e-02         inf
15          (Watch, HP)         (Camera)  ... -2.777778e-02    0.666667
16                 (HP)  (Camera, Watch)  ...  1.388889e-02    1.166667
17  (Camera, Music Pad)          (Watch)  ... -5.208333e-03    0.937500
18   (Music Pad, Watch)         (Camera)  ... -1.388889e-02    0.833333

[19 rows x 9 columns]

There was 4 basket items with **confidence value = 1.00** that means it items has the high correlation with another items  to be buy together and **lift value more than 1.00** that means there was a dependent relationship between an items.

* Mouse and Camera
* HP and Watch	
* Guitar, Music Pad and Camera	
* Camera, HP and Watch

### Conclusion

Based on the Association Rules, we know that **Camera, Watch, Guitar and Music Pad** is the most popular item that costumer likely to buy. 

But for the combination of **two item in a basket**, costumer is likely to buy :

- camera and watch
- guitar and camera
- camera and music pad
- Mouse and Camera
- Hp and Watch<br>

So if ecommerce want to make a combination of two items, its better to make a combination **camera and watch** as basket items with the highest value of support, confidence and lift. <br>

For **Three Items** the best basket item is :

- Guitar, Camera and Music Pad
- Guitar, Camera and Racket
- Camera, Watch and HP
- Guitar, Music Pad and Camera

By looking from its value of support, confidence and lift, **Guitar, Camera and Music Pad** is the highest value basket than the others.

### Business Recommendation

This market basket analysis is useful to many business implementation. So, by the association rules with apriori algorithm, ecommerce can make a business strategy like 

* **Landing Pages Design**<br>
Ecommerce can placed Camera, Watch, Guitar and Music Pad in the landing pages, so customer is easier to find an items that they want to buy. Because Camera, Watch, Guitar and Music Pad is the most popular item.

* **Ads with Discount**<br>
Eccommerce can make a discount if customer want to buy camera and watch together or they want to buy Guitar, Camera and Music Pad together.


So, market basket analysis with apriori algorithm can help to make a customer easier to find a product they like. Because a company can know what customer want and need in their ecommerce. It can help a business to increase satisfaction of customer that also can impact to increasing the transaction. If there was an increasing transaction, thre will also an increasing profit as the end goals of company activities.